html,
body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(#a7e3fc 15%, #fbf976 50%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
