html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Helvetica", sans-serif;
  background: linear-gradient(rgb(168, 228, 252) 15%, transparent 50%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
